*{
    margin: 0;
    padding: 0;
}

/* custom variables */
:root{
    --navbar-height: 60px;
}

/* navbar */
#navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

/* Navbar: logo and image */

#logo{
    margin: 10px 34px;
}

#logo img{
    height: 67px;
    margin: 3px 5px;
}

/* Navbar: list styling */


#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}



#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.2rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgb(18, 14, 14);
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
    
}

/* Home section */

#home{
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    height: 510px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url('../images/header.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 617px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
    text-shadow: 1px 1px 2px rgb(18, 14, 14);
}
#home p{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(18, 14, 14);
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Bree Serif', serif;
}


/* Contact Section */

#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
    background: url('../images/contact.jpg') no-repeat center center/cover;
}

/* Services Section */

.services-container {
    position: relative;
}


#services{
    margin: 22px;
    display: flex;
   
}
.services-container::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 160%;
    z-index: -1;
    opacity: 0.9;
    background: rgb(239, 232, 232);
}

#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 25px;
    border-radius: 20px;
    background-color: rgb(237, 230, 230);
    margin-bottom: 37px;
}

#services .box img{
    height: 150px;
    display: block;
    margin: auto;
}

#services .box p{
    font-family: 'Bree Serif', serif;
    font-size: 1.2rem;
}

.center{
    text-align: center;
}

/* Client Section */

#client-section{
    height: 700px;
    position: relative;
    
    
}


#client-section::before{
    content: "";
    position: absolute;
    background: url('../images/food2.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    
}

.client-item{
    /* padding: 0px; */
    margin: 18px;
}
#clients img{
    height: 150px;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

#contact-box input, #contact-box textarea{
  
    width: 100%;
    padding: 0.5rem;
    border-radius: 7px;
    font-size: 1.07rem;

}

#contact-box form{
    width: 35%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}


/* utility classes */

.h-primary{
    font-size: 2.5rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.h-secondary{
    font-size: 1.5rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.btn{
    padding: 5px 17px;
    border: 1px solid white;
    background-color: rgb(200, 8, 8);
    color: white;
    margin: 18px;
    font-size: 1rem;
    border-radius: 9px;
    cursor: pointer;
}


